<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Piccollect Share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Piccollect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03324CDD1C005CBD000618F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03324CF91C005CBD000618F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03324D041C005CBD000618F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>037B01371E6701C200DA0CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
