<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>socialAccounts</key>
	<dict>
		<key>facebook</key>
		<dict>
			<key>accountToken</key>
			<string></string>
			<key>accountName</key>
			<string></string>
		</dict>
        <key>twitter</key>
        <dict>
            <key>accountToken</key>
            <string></string>
            <key>accountName</key>
            <string></string>
        </dict>
        <key>tumblr</key>
        <dict>
            <key>accountToken</key>
            <string></string>
            <key>accountName</key>
            <string></string>
        </dict>
        <key>instagram</key>
        <dict>
            <key>accountToken</key>
            <string></string>
            <key>accountName</key>
            <string></string>
        </dict>
	</dict>
	<key>nightMode</key>
	<false/>
	<key>passwordRequired</key>
	<false/>
	<key>password</key>
	<string>1226</string>
	<key>saveToCloud</key>
	<false/>
</dict>
</plist>
